body {
    font-family: 'Raleway', sans-serif; 
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #ff0000, #000000, #003366);
    background-size: 400% 400%;
    animation: gradient 25s ease infinite; /* Slowed down */
    color: #f0f0f0;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header {
    text-align: center;
    padding: 40px;
    background: linear-gradient(135deg, #660066, #990000); 
    background-size: 400% 400%;
    animation: headerGradient 25s ease infinite; /* Slowed down */
    border-bottom: 4px solid #fff;
}

@keyframes headerGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    margin: 0;
    font-size: 4em;
    background: linear-gradient(270deg, #ff007f, #003366, #ff00ff); 
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textGradient 10s ease infinite; /* Slowed down */
}

@keyframes textGradient {
    0% { background-position: 0% 50%; }
    25% { background-position: 100% 50%; }
    50% { background-position: 0% 50%; }
    75% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: #f0f0f0; 
    text-decoration: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffcc00; 
}

input[type="text"] {
    padding: 12px;
    margin-top: 10px;
    width: 80%;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #f0f0f0;
    transition: background-color 0.3s;
}

input[type="text"]:focus {
    background-color: rgba(255, 255, 255, 0.4);
    outline: none;
}

main {
    padding: 20px;
}

#games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.game {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.3s;
    backdrop-filter: blur(10px);
}

.game:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.game img {
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid #fff;
}

button {
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 30px;
    background-color: #ff6f61;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
}

button:hover {
    background-color: #e65c50;
    transform: scale(1.05);
}
